*.o
*~
*.swp
*.d

tags

config.mak
boot/loader.bin
etc/gen_asm_frame_const_h
etc/gen_asm_kernel_args_const_h
etc/gen_asm_proc_const_h
vuos.iso
init/init
kernel/include/asm_frame_const.h
kernel/include/asm_kernel_args_const.h
kernel/kernel.bin
lib/libos.a
