*.o
*~
*.swp
*.d
*.s

tags
config.mak
output.log
initrd.img

vms/fs/fs
vms/fs/include/asm_frame_const.h
vms/pm/include/asm_frame_const.h
vms/pm/pm
vms/rs/rs
vms/init/init
vms/init/include/asm_frame_const.h
vms/rs/rs
lib/include/asm_cpu_const.h
drivers/keyboard/include/asm_boot_stage2_args_const.h
drivers/keyboard/include/asm_frame_const.h
drivers/keyboard/include/asm_cpu_const.h
drivers/keyboard/keyboard
drivers/junk/include/asm_boot_stage2_args_const.h
drivers/junk/include/asm_cpu_const.h
drivers/junk/include/asm_frame_const.h
drivers/junk/junk
drivers/console/console
drivers/console/include/asm_boot_stage2_args_const.h
drivers/console/include/asm_cpu_const.h
drivers/console/include/asm_frame_const.h
drivers/pci/pci.a
drivers/net/e1000/e1000

initrd/create_initrd
tools/gen_asm_boot_stage2_args_const_h
tools/gen_asm_cpu_const_h
tools/gen_asm_frame_const_h

bin/login
bin/test
bin/testfs
bin/testcnl
bin/htf

tools/create_initrd

boot/loader.bin
boot/stage1/loader.bin
boot/boot_aps
boot/boot_aps.out
etc/gen_asm_frame_const_h
etc/gen_asm_kernel_args_const_h
etc/gen_asm_proc_const_h
etc/gen_asm_cpu_const_h
etc/gen_asm_boot_stage2_args_const_h
vuos.iso
anarchix.iso
kernel/include/asm_frame_const.h
kernel/include/asm_kernel_args_const.h
kernel/include/asm_proc_const.h
kernel/kernel.bin
lib/libos.a
lib/libip.a

bochsrc.txt
boot/stage1/stage1
boot/stage1/boot_stage1
boot/stage2/boot_aps.out
boot/stage2/boot_aps
boot/stage2/include/asm_frame_const.h
boot/stage2/include/asm_kernel_args_const.h
boot/stage2/include/asm_boot_stage2_args_const.h
boot/stage2/include/asm_cpu_const.h
vmm/vmm
vmm/include/asm_frame_const.h
vm/include/asm_frame_const.h
boot/stage2/stage2
boot/stage2/boot_stage2
